.left-menu {
    flex: 0 0 33.2rem;

    &__title {
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.5rem;
        color: $charcoal;
    }
}

.form {
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    background-color: $floral-white;
    border-radius: .4rem;

    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;

        label {
            color: $gun-powder;
            margin-bottom: .7rem;
        }

        .input {
            box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
            border-radius: .4rem;
            border: 0 solid black;
            outline: none;
            font-size: 1.2rem;
            line-height: 1.5rem;
            padding: 0 1.6rem;

        }

        .input-text {
            height: 3.6rem;
        }

        .input-error {
            border: 1px solid red;
        }

        .textarea {
            resize: none;
            overflow: auto;
            padding: 1.4rem 1.6rem;
        }
    }

    button {
        margin-top: .8rem;
        background: #7BAE73;
        border-radius: 1rem;
        height: 3.6rem;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        color: $white;
        border: none;
        cursor: pointer;

        &:disabled {
            color: $dark-gray;
            background: #EEEEEE;
            cursor: not-allowed;
        }
    }

    .error {
        color: red;
        padding-top: .7rem;
    }
}
